$prefix: 'kcmit';

$root_font_size: 16px;
$font-weight-normal: 400;
$font_weight_bold: 700;
$font_weight_semi_bold: 600;

// $color_navy_blue : #06374E;
$color_light_sky_blue  : #DBE1E4;
$color_light_gray      : #F8F9FA;
$color_grey            : #E1E6E9;
$color_white           : #fff;  
$color_black           : #000;
$color_red             : #CA3C3C;
$border_color          : #ced4da;
$color_yellow          : #FFC400;
$color_green           : #008000;
$table_border_color: #dee2e6;
$color_primary: #06374E;