.#{$prefix}-navigation{
    background: $color_light_gray;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    .#{$prefix}-site-logo{
        float: left;
        width: 20%;
        .wrapper{
            width: 100px;
        }

    }
    .#{$prefix}-site-feature{
        float: left;
        width: 80%;
        text-align: right;
        
        .#{$prefix}-app{
            a{
                display: inline-block;
                &:hover{
                    img{
                        transform: scale(0.9);
                        @include transition(transform 0.5s ease);
                    }
                }
            }
        }
       
    }
}